body {
    color: #674726;
    margin: 0px;
    font-family: "Bagel Fat One", system-ui;
    background-image: (url(fundo.jpg));
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
    border-bottom: solid 2px #b58756;
    margin: 20px;
    font-size: 60;
    color: #986d40;
    text-align-last: center;
}

.chamada {
    background: #c7968d;
    width: 2000px;
    height: 350px;
    padding-bottom: 80px;
    padding-top: 80px;
    margin: 15px;
    display: flex;
    justify-content: center;
    border-radius: 30px 60px;
    font-size: 20;
    text-align: center;
}


.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 70px;
}

p {
    font-size: 50px;
}

h2 {
    font-size: 45;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 300px;
}

.categoria-videos img:hover {
    opacity: 1.0;
  border: 5px solid #a7766d;
}